In [2]:
import os
import numpy as np
from matplotlib import pyplot
from scipy import optimize
import sys
import pandas as pd

In [3]:
data1 = np.loadtxt(os.path.join('DATASETRAW.csv'), delimiter=",")
data1 = pd.DataFrame(data1,columns=['marca','modelo','puertas','asientos','Estadoauto','tipo','transmicion','combustible','kilometraje','color','procedencia','cilindrada','EstadoPintura','Condicion2','Accidentes?','accesorios','precio'])
data1

     marca  modelo  puertas  ...  Accidentes?  accesorios   precio
0     12.0  2017.0      5.0  ...          2.0         2.0  27000.0
1     12.0  2013.0      4.0  ...          2.0         2.0  21500.0
2     19.0  2019.0      5.0  ...          2.0         2.0  37800.0
3     30.0  2020.0      2.0  ...          2.0         2.0   3900.0
4     10.0  2001.0      5.0  ...          2.0         2.0  10500.0
..     ...     ...      ...  ...          ...         ...      ...
930   12.0  1997.0      3.0  ...          2.0         1.0  13800.0
931   26.0  2009.0      5.0  ...          2.0         1.0  13000.0
932   17.0  1992.0      5.0  ...          2.0         2.0   5000.0
933   13.0  2012.0      5.0  ...          2.0         2.0  24900.0
934    4.0  2020.0      4.0  ...          2.0         1.0  14990.0

[935 rows x 17 columns]

In [4]:
data1.describe()

            marca       modelo  ...  accesorios        precio
count  935.000000   935.000000  ...  935.000000    935.000000
mean    15.831016  2011.817112  ...    1.232086  21503.034225
std     10.964479     8.151912  ...    0.422389  13379.477433
min      1.000000  1895.000000  ...    1.000000     12.000000
25%      8.000000  2010.000000  ...    1.000000  13200.000000
50%     12.000000  2013.000000  ...    1.000000  18500.000000
75%     26.000000  2016.000000  ...    1.000000  26000.000000
max     40.000000  2022.000000  ...    2.000000  99900.000000

[8 rows x 17 columns]

In [5]:
data1.dtypes

marca            float64
modelo           float64
puertas          float64
asientos         float64
Estadoauto       float64
tipo             float64
transmicion      float64
combustible      float64
kilometraje      float64
color            float64
procedencia      float64
cilindrada       float64
EstadoPintura    float64
Condicion2       float64
Accidentes?      float64
accesorios       float64
precio           float64
dtype: object

In [6]:
Z = data1.iloc[0:,0:17]
Z

     marca  modelo  puertas  ...  Accidentes?  accesorios   precio
0     12.0  2017.0      5.0  ...          2.0         2.0  27000.0
1     12.0  2013.0      4.0  ...          2.0         2.0  21500.0
2     19.0  2019.0      5.0  ...          2.0         2.0  37800.0
3     30.0  2020.0      2.0  ...          2.0         2.0   3900.0
4     10.0  2001.0      5.0  ...          2.0         2.0  10500.0
..     ...     ...      ...  ...          ...         ...      ...
930   12.0  1997.0      3.0  ...          2.0         1.0  13800.0
931   26.0  2009.0      5.0  ...          2.0         1.0  13000.0
932   17.0  1992.0      5.0  ...          2.0         2.0   5000.0
933   13.0  2012.0      5.0  ...          2.0         2.0  24900.0
934    4.0  2020.0      4.0  ...          2.0         1.0  14990.0

[935 rows x 17 columns]

In [7]:
Z['clasificacion'] = 1
Z

     marca  modelo  puertas  ...  accesorios   precio  clasificacion
0     12.0  2017.0      5.0  ...         2.0  27000.0              1
1     12.0  2013.0      4.0  ...         2.0  21500.0              1
2     19.0  2019.0      5.0  ...         2.0  37800.0              1
3     30.0  2020.0      2.0  ...         2.0   3900.0              1
4     10.0  2001.0      5.0  ...         2.0  10500.0              1
..     ...     ...      ...  ...         ...      ...            ...
930   12.0  1997.0      3.0  ...         1.0  13800.0              1
931   26.0  2009.0      5.0  ...         1.0  13000.0              1
932   17.0  1992.0      5.0  ...         2.0   5000.0              1
933   13.0  2012.0      5.0  ...         2.0  24900.0              1
934    4.0  2020.0      4.0  ...         1.0  14990.0              1

[935 rows x 18 columns]

In [8]:
P = Z.iloc[0:,11:12]
C = Z.iloc[0:,17]

In [9]:
P = np.array(P)
C = np.array(C)
S = P.size

In [10]:
def clasificar(x,y,s):
  m = x.size
  for i in range(s):
    if (x[i] >= 8000):
      y[i] = 0
    if (x[i] <= 700):
      y[i] = 0

In [11]:
clasificar(P,C,S)

In [12]:
P1 = Z.iloc[0:,16:17]
P1 = np.array(P1)

In [13]:
def clasificar2(x,y,s):
  m = x.size
  for i in range(s):
    if (x[i] <= 8000):
      y[i] = 0

In [14]:
clasificar2(P1,C,S)

In [15]:
data2 = pd.DataFrame(C)
data2

     0
0    1
1    1
2    1
3    0
4    1
..  ..
930  1
931  1
932  0
933  1
934  1

[935 rows x 1 columns]

In [16]:
Z['clasificacion'] = C
Z

     marca  modelo  puertas  ...  accesorios   precio  clasificacion
0     12.0  2017.0      5.0  ...         2.0  27000.0              1
1     12.0  2013.0      4.0  ...         2.0  21500.0              1
2     19.0  2019.0      5.0  ...         2.0  37800.0              1
3     30.0  2020.0      2.0  ...         2.0   3900.0              0
4     10.0  2001.0      5.0  ...         2.0  10500.0              1
..     ...     ...      ...  ...         ...      ...            ...
930   12.0  1997.0      3.0  ...         1.0  13800.0              1
931   26.0  2009.0      5.0  ...         1.0  13000.0              1
932   17.0  1992.0      5.0  ...         2.0   5000.0              0
933   13.0  2012.0      5.0  ...         2.0  24900.0              1
934    4.0  2020.0      4.0  ...         1.0  14990.0              1

[935 rows x 18 columns]

In [17]:
data_normalizada = (Z-Z.min())/(Z.max()-Z.min())
data_normalizada

        marca    modelo   puertas  ...  accesorios    precio  clasificacion
0    0.282051  0.960630  1.000000  ...         1.0  0.270183            1.0
1    0.282051  0.929134  0.666667  ...         1.0  0.215121            1.0
2    0.461538  0.976378  1.000000  ...         1.0  0.378304            1.0
3    0.743590  0.984252  0.000000  ...         1.0  0.038924            0.0
4    0.230769  0.834646  1.000000  ...         1.0  0.104998            1.0
..        ...       ...       ...  ...         ...       ...            ...
930  0.282051  0.803150  0.333333  ...         0.0  0.138035            1.0
931  0.641026  0.897638  1.000000  ...         0.0  0.130026            1.0
932  0.410256  0.763780  1.000000  ...         1.0  0.049936            0.0
933  0.307692  0.921260  1.000000  ...         1.0  0.249159            1.0
934  0.076923  0.984252  0.666667  ...         0.0  0.149948            1.0

[935 rows x 18 columns]

In [18]:
dataN = np.array(data_normalizada)
data = np.array(Z)
x = dataN[0:, 0:17]
y = dataN[0:, 17]
m =y.size
print(x.shape)
print(y.shape)

(935, 17)
(935,)

In [19]:
def relu(x):
  return np.maximum(0, x)

def reluPrime(x):
  return x > 0

def linear(x):
    return x

def sigmoid(x):
  return 1 / (1 + np.exp(-x))

def softmax(x):
    return np.exp(x) / np.exp(x).sum(axis=-1,keepdims=True)

In [20]:
# Mean Square Error -> usada para regresión (con activación lineal)
def mse(y, y_hat):
    return np.mean((y_hat - y.reshape(y_hat.shape))**2)

# Binary Cross Entropy -> usada para clasificación binaria (con sigmoid)
def bce(y, y_hat):
    return - np.mean(y.reshape(y_hat.shape)*np.log(y_hat) - (1 - y.reshape(y_hat.shape))*np.log(1 - y_hat))

# Cross Entropy (aplica softmax + cross entropy de manera estable) -> usada para clasificación multiclase
def crossentropy(y, y_hat):
    logits = y_hat[np.arange(len(y_hat)),y]
    entropy = - logits + np.log(np.sum(np.exp(y_hat),axis=-1))
    return entropy.mean()

In [21]:
def grad_mse(y, y_hat):
    return y_hat - y.reshape(y_hat.shape)

def grad_bce(y, y_hat):
    return y_hat - y.reshape(y_hat.shape)

def grad_crossentropy(y, y_hat):
    answers = np.zeros_like(y_hat)
    answers[np.arange(len(y_hat)),y] = 1    
    return (- answers + softmax(y_hat)) / y_hat.shape[0]

In [22]:
# clase base MLP 

class MLP():
  def __init__(self, D_in, H, D_out, loss, grad_loss, activation):
    # pesos de la capa 1
    self.w1, self.b1 = np.random.normal(loc=0.0,
                                  scale=np.sqrt(2/(D_in+H)),
                                  size=(D_in, H)), np.zeros(H)
    # pesos de la capa 2
    self.w2, self.b2 = np.random.normal(loc=0.0,
                                  scale=np.sqrt(2/(H+D_out)),
                                  size=(H, D_out)), np.zeros(D_out)
    self.ws = []
    # función de pérdida y derivada
    self.loss = loss
    self.grad_loss = grad_loss
    # función de activación
    self.activation = activation

  def __call__(self, x):
    # salida de la capa 1
    self.h_pre = np.dot(x, self.w1) + self.b1
    self.h = relu(self.h_pre)
    # salida del MLP
    y_hat = np.dot(self.h, self.w2) + self.b2 
    return self.activation(y_hat)

  def accuracy(y_pred, y):
    return np.sum(y_pred == y) / len(y)
    
  def fit(self, X, Y, epochs = 100, lr = 0.001, batch_size=None, verbose=True, log_each=1):
    batch_size = len(X) if batch_size == None else batch_size
    batches = len(X) // batch_size
    l = []
    for e in range(1,epochs+1):     
        # Mini-Batch Gradient Descent
        _l = []
        for b in range(batches):
            # batch de datos
            x = X[b*batch_size:(b+1)*batch_size]
            y = Y[b*batch_size:(b+1)*batch_size] 
            # salida del perceptrón
            y_pred = self(x) 
            # función de pérdida
            loss = self.loss(y, y_pred)
            #presicion
            _l.append(loss)        
            # Backprop 
            dldy = self.grad_loss(y, y_pred) 
            grad_w2 = np.dot(self.h.T, dldy)
            grad_b2 = dldy.mean(axis=0)
            dldh = np.dot(dldy, self.w2.T)*reluPrime(self.h_pre)      
            grad_w1 = np.dot(x.T, dldh)
            grad_b1 = dldh.mean(axis=0)
            # Update (GD)
            self.w1 = self.w1 - lr * grad_w1
            self.b1 = self.b1 - lr * grad_b1
            self.w2 = self.w2 - lr * grad_w2
            self.b2 = self.b2 - lr * grad_b2
        l.append(np.mean(_l))
        # guardamos pesos intermedios para visualización
        self.ws.append((
            self.w1.copy(),
            self.b1.copy(),
            self.w2.copy(),
            self.b2.copy()
        ))
        if verbose and not e % log_each:
            print(f'Epoch: {e}/{epochs}, Loss: {np.mean(l):.5f}')
    
  def predict(self, ws, x):
    w1, b1, w2, b2 = ws
    h = relu(np.dot(x, w1) + b1)
    y_hat = np.dot(h, w2) + b2
    return self.activation(y_hat)

In [23]:
# MLP para regresión
class MLPRegression(MLP):
    def __init__(self, D_in, H, D_out):
        super().__init__(D_in, H, D_out, mse, grad_mse, linear)

# MLP para clasificación binaria
class MLPBinaryClassification(MLP):
    def __init__(self, D_in, H, D_out):
        super().__init__(D_in, H, D_out, bce, grad_bce, sigmoid)

# MLP para clasificación multiclase
class MLPClassification(MLP):
    def __init__(self, D_in, H, D_out):
        super().__init__(D_in, H, D_out, crossentropy, grad_crossentropy, linear)

In [24]:
model = MLPBinaryClassification(D_in=17, H=4, D_out=1)
epochs, lr = 100, 0.01
model.fit(x,  y, epochs, lr, batch_size=1, log_each=10)

Epoch: 10/100, Loss: -0.08656
Epoch: 20/100, Loss: -0.07770
Epoch: 30/100, Loss: -0.07297
Epoch: 40/100, Loss: -0.06979
Epoch: 50/100, Loss: -0.06751
Epoch: 60/100, Loss: -0.06575
Epoch: 70/100, Loss: -0.06435
Epoch: 80/100, Loss: -0.06322
Epoch: 90/100, Loss: -0.06231
Epoch: 100/100, Loss: -0.06156