In [1]:
import os
import numpy as np
from matplotlib import pyplot
from scipy import optimize
import sys
import pandas as pd

In [2]:
data1 = np.loadtxt(os.path.join('DATASETRAW.csv'), delimiter=",")
data1 = pd.DataFrame(data1,columns=['marca','modelo','puertas','asientos','Estadoauto','tipo','transmicion','combustible','kilometraje','color','procedencia','cilindrada','EstadoPintura','Condicion2','Accidentes?','accesorios','precio'])
data1

     marca  modelo  puertas  ...  Accidentes?  accesorios   precio
0     12.0  2017.0      5.0  ...          2.0         2.0  27000.0
1     12.0  2013.0      4.0  ...          2.0         2.0  21500.0
2     19.0  2019.0      5.0  ...          2.0         2.0  37800.0
3     30.0  2020.0      2.0  ...          2.0         2.0   3900.0
4     10.0  2001.0      5.0  ...          2.0         2.0  10500.0
..     ...     ...      ...  ...          ...         ...      ...
930   12.0  1997.0      3.0  ...          2.0         1.0  13800.0
931   26.0  2009.0      5.0  ...          2.0         1.0  13000.0
932   17.0  1992.0      5.0  ...          2.0         2.0   5000.0
933   13.0  2012.0      5.0  ...          2.0         2.0  24900.0
934    4.0  2020.0      4.0  ...          2.0         1.0  14990.0

[935 rows x 17 columns]

In [3]:
data1.describe()

            marca       modelo  ...  accesorios        precio
count  935.000000   935.000000  ...  935.000000    935.000000
mean    15.831016  2011.817112  ...    1.232086  21503.034225
std     10.964479     8.151912  ...    0.422389  13379.477433
min      1.000000  1895.000000  ...    1.000000     12.000000
25%      8.000000  2010.000000  ...    1.000000  13200.000000
50%     12.000000  2013.000000  ...    1.000000  18500.000000
75%     26.000000  2016.000000  ...    1.000000  26000.000000
max     40.000000  2022.000000  ...    2.000000  99900.000000

[8 rows x 17 columns]

In [4]:
Z = data1.iloc[0:,0:17]
Z

     marca  modelo  puertas  ...  Accidentes?  accesorios   precio
0     12.0  2017.0      5.0  ...          2.0         2.0  27000.0
1     12.0  2013.0      4.0  ...          2.0         2.0  21500.0
2     19.0  2019.0      5.0  ...          2.0         2.0  37800.0
3     30.0  2020.0      2.0  ...          2.0         2.0   3900.0
4     10.0  2001.0      5.0  ...          2.0         2.0  10500.0
..     ...     ...      ...  ...          ...         ...      ...
930   12.0  1997.0      3.0  ...          2.0         1.0  13800.0
931   26.0  2009.0      5.0  ...          2.0         1.0  13000.0
932   17.0  1992.0      5.0  ...          2.0         2.0   5000.0
933   13.0  2012.0      5.0  ...          2.0         2.0  24900.0
934    4.0  2020.0      4.0  ...          2.0         1.0  14990.0

[935 rows x 17 columns]

In [5]:
Z['clasificacion'] = 1
Z

     marca  modelo  puertas  ...  accesorios   precio  clasificacion
0     12.0  2017.0      5.0  ...         2.0  27000.0              1
1     12.0  2013.0      4.0  ...         2.0  21500.0              1
2     19.0  2019.0      5.0  ...         2.0  37800.0              1
3     30.0  2020.0      2.0  ...         2.0   3900.0              1
4     10.0  2001.0      5.0  ...         2.0  10500.0              1
..     ...     ...      ...  ...         ...      ...            ...
930   12.0  1997.0      3.0  ...         1.0  13800.0              1
931   26.0  2009.0      5.0  ...         1.0  13000.0              1
932   17.0  1992.0      5.0  ...         2.0   5000.0              1
933   13.0  2012.0      5.0  ...         2.0  24900.0              1
934    4.0  2020.0      4.0  ...         1.0  14990.0              1

[935 rows x 18 columns]

In [6]:
P = Z.iloc[0:,11:12]
C = Z.iloc[0:,17]

In [7]:
P = np.array(P)
C = np.array(C)
S = P.size

In [8]:
def clasificar(x,y,s):
  m = x.size
  for i in range(s):
    if (x[i] >= 8000):
      y[i] = 0
    if (x[i] <= 700):
      y[i] = 0

In [9]:
clasificar(P,C,S)

In [10]:
P1 = Z.iloc[0:,16:17]
P1 = np.array(P1)

In [11]:
def clasificar2(x,y,s):
  m = x.size
  for i in range(s):
    if (x[i] <= 5000):
      y[i] = 0

In [12]:
clasificar2(P1,C,S)

In [13]:
data2 = pd.DataFrame(C)
data2

     0
0    1
1    1
2    1
3    0
4    1
..  ..
930  1
931  1
932  0
933  1
934  1

[935 rows x 1 columns]

In [14]:
Z['clasificacion'] = C
Z

     marca  modelo  puertas  ...  accesorios   precio  clasificacion
0     12.0  2017.0      5.0  ...         2.0  27000.0              1
1     12.0  2013.0      4.0  ...         2.0  21500.0              1
2     19.0  2019.0      5.0  ...         2.0  37800.0              1
3     30.0  2020.0      2.0  ...         2.0   3900.0              0
4     10.0  2001.0      5.0  ...         2.0  10500.0              1
..     ...     ...      ...  ...         ...      ...            ...
930   12.0  1997.0      3.0  ...         1.0  13800.0              1
931   26.0  2009.0      5.0  ...         1.0  13000.0              1
932   17.0  1992.0      5.0  ...         2.0   5000.0              0
933   13.0  2012.0      5.0  ...         2.0  24900.0              1
934    4.0  2020.0      4.0  ...         1.0  14990.0              1

[935 rows x 18 columns]

In [15]:
data_normalizada = (Z-Z.min())/(Z.max()-Z.min())
data_normalizada

        marca    modelo   puertas  ...  accesorios    precio  clasificacion
0    0.282051  0.960630  1.000000  ...         1.0  0.270183            1.0
1    0.282051  0.929134  0.666667  ...         1.0  0.215121            1.0
2    0.461538  0.976378  1.000000  ...         1.0  0.378304            1.0
3    0.743590  0.984252  0.000000  ...         1.0  0.038924            0.0
4    0.230769  0.834646  1.000000  ...         1.0  0.104998            1.0
..        ...       ...       ...  ...         ...       ...            ...
930  0.282051  0.803150  0.333333  ...         0.0  0.138035            1.0
931  0.641026  0.897638  1.000000  ...         0.0  0.130026            1.0
932  0.410256  0.763780  1.000000  ...         1.0  0.049936            0.0
933  0.307692  0.921260  1.000000  ...         1.0  0.249159            1.0
934  0.076923  0.984252  0.666667  ...         0.0  0.149948            1.0

[935 rows x 18 columns]

In [32]:
dataN = np.array(Z)
x = dataN[0:930, 0:17]
y = dataN[0:930, 17]
m =y.size
print(x.shape)
print(y.shape)

(930, 17)
(930,)

In [33]:
def calcularSigmoide(z):
        return 1.0 / (1.0 + np.exp(-z))

In [34]:
def calcularCosto(theta, X, y):
    # Inicializar algunos valores utiles
    m = y.size  # numero de ejemplos de entrenamiento

    J = 0
    h = calcularSigmoide(X.dot(theta.T))
    J = (1 / m) * np.sum(-y.dot(np.log(h)) - (1 - y).dot(np.log(1 - h)))
    
    return J

In [35]:
def descensoGradiente(theta, X, y, alpha, num_iters):
    # Inicializa algunos valores
    m = y.shape[0] # numero de ejemplos de entrenamiento
    
    # realiza una copia de theta, el cual será acutalizada por el descenso por el gradiente
    theta = theta.copy()
    J_history = []
    
    for i in range(num_iters):
        h = calcularSigmoide(X.dot(theta.T))
        theta = theta - (alpha / m) * (h - y).dot(X)
       
        J_history.append(calcularCosto(theta, X, y))
    return theta, J_history

In [36]:
# Elegir algun valor para alpha (probar varias alternativas)
alpha = 0.001
num_iters = 20000

# inicializa theta y ejecuta el descenso por el gradiente
theta = np.zeros(17)
theta, J_history = descensoGradiente(theta, x, y, alpha, num_iters)



# Muestra los resultados del descenso por el gradiente
print('theta calculado por el descenso por el gradiente: {:s}'.format(str(theta)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: overflow encountered in exp

theta calculado por el descenso por el gradiente: [-2.51613912e+00 -3.99779614e+00 -5.06943830e-02 -6.77266119e-02
 -3.58070736e-02  3.18828499e-01 -5.86423748e-02  2.49582299e-02
  1.40120391e+00 -1.51494478e+00 -6.43484328e-02 -4.15556811e+01
 -1.59432749e-01 -8.44481410e-03  5.77684866e-02 -1.79210221e-02
  8.99089962e+00]

In [37]:
def predict(theta, X):
    m = X.shape[0] # Numero de ejemplo de entrenamiento

    p = np.zeros(m)

    p = np.round(calcularSigmoide(X.dot(theta.T)))
    return p

In [38]:
p = predict(theta, x)
print('Precisión de entrenamiento: {:.2f} %'.format(np.mean(p == y) * 100))
print('Precisión esperada (aproximadamente): 95.00 %')

Precisión de entrenamiento: 95.91 %
Precisión esperada (aproximadamente): 95.00 %

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: overflow encountered in exp

In [41]:
# verificar si es falso/forzado o no
X_array = [ 17.0,	1992.0,	5.0,	4.0,	3.0,	1.0,	2.0,	1.0,	300.0,	7.0,	3.0,	1600.0,	2.0,	1.0,	2.0,	2.0,	5000.0]
aprueba = calcularSigmoide(np.dot(X_array, theta))
print('Los datos del siguiente dato son 1: verdaderos o 0:forzados (usando el descenso por el gradiente):{:.0f}'.format(aprueba))
print("Resultado esperado >>>>>> 0")

Los datos del siguiente dato son 1: verdaderos o 0:forzados (usando el descenso por el gradiente):0
Resultado esperado >>>>>> 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: overflow encountered in exp

In [42]:
X_array2 = [ 4.0,	2020.0,	4.0,	4.0,	2.0,	1.0,	2.0,	1.0,	5000.0,	8.0,	4.0,	1500.0,	1.0,	1.0,	2.0,	1.0,	14990.0]
aprueba2 = calcularSigmoide(np.dot(X_array2, theta))
print('Los datos del siguiente dato son 1: verdaderos o 0:forzados (usando el descenso por el gradiente):{:.0f}'.format(aprueba2))
print("Resultado esperado >>>>>> 1")

Los datos del siguiente dato son 1: verdaderos o 0:forzados (usando el descenso por el gradiente):1
Resultado esperado >>>>>> 1